@include jacket(critical) {
/**** START critical rules ****/
/**** END critical rules ****/
}

@include jacket(non-critical) {
/**** START non-critical rules ****/

.admin-bar .header {
	top: 45px;
}

.admin-bar .nav {
	top: 90px;
}

.author-meta {

	.author-meta-avatar {
	    float: left;
	    width: 115px;
	}

	.author-description {
	    margin-left: 140px;

	    .author-name {
	    	margin: 0 0 15px;
	    	text-align: left;
	    }
	}
}

.comment {

	.avatar {
		width: auto;
		height: auto;
	}

	.comment_content {
		margin-left: 60px;
	}

	.comment-reply-link {
		margin-left: 60px;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 30px;

		& .avatar {
			width: 42px;
			height: 42px;
		}

		& .comment_content {
			margin-left: 55px;
		}

		& .comment-reply-link {
			margin-left: 55px;
		}
	}

}

/**** END non-critical rules ****/
}